In [2]:
import mlxtend
import numpy as np
import pandas as pd

In [6]:
data = np.array([
    ['우유', '기저귀', '쥬스'],
    ['양상추', '기저귀', '맥주'],
    ['우유', '양상추', '기저귀', '맥주'],
    ['양상추', '맥주']
])
data

C:\Users\jaehyun\AppData\Local\Temp\ipykernel_2248\3678336303.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data = np.array([

array([list(['우유', '기저귀', '쥬스']), list(['양상추', '기저귀', '맥주']),
       list(['우유', '양상추', '기저귀', '맥주']), list(['양상추', '맥주'])],
      dtype=object)

# Aprior

In [7]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [8]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.5, use_colnames=True)

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50       (우유, 기저귀)
7     0.75       (양상추, 맥주)
8     0.50  (양상추, 맥주, 기저귀)

# FP-Growth

In [9]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [10]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.5, use_colnames=True)

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50  (양상추, 맥주, 기저귀)
7     0.50       (우유, 기저귀)
8     0.75       (양상추, 맥주)

# TF-IDF

In [11]:
docs = [
  '먹고 싶은 사과', # 문서0 
  '먹고 싶은 바나나', # 문서1
  '길고 노란 바나나 바나나', # 문서2 
  '저는 과일이 좋아요' # 문서3 
]

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer()

In [13]:
countvect = vect.fit_transform(docs)
countvect

<4x9 sparse matrix of type '<class 'numpy.int64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [24]:
column_names = vect.vocabulary_

countvect_df = pd.DataFrame(countvect.toarray(), columns = sorted(column_names), index = ['d1', 'd2', 'd3', 'd4'])

countvect_df

    과일이  길고  노란  먹고  바나나  사과  싶은  저는  좋아요
d1    0   0   0   1    0   1   1   0    0
d2    0   0   0   1    1   0   1   0    0
d3    0   1   1   0    2   0   0   0    0
d4    1   0   0   0    0   0   0   1    1

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity(countvect_df)

array([[1.        , 0.66666667, 0.        , 0.        ],
       [0.66666667, 1.        , 0.47140452, 0.        ],
       [0.        , 0.47140452, 1.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        ]])

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer()
tfvect = vect.fit(docs)

tfidv_df = pd.DataFrame(tfvect.transform(docs).toarray(), columns = sorted(vect.vocabulary_))
tfidv_df.index = ['문서1', '문서2', '문서3', '문서4']
tfidv_df

,과일이,길고,노란,먹고,바나나,사과,싶은,저는,좋아요
문서1,0.00000,0.00000,0.00000,0.526405,0.00000,0.667679,0.526405,0.00000,0.00000
문서2,0.00000,0.00000,0.00000,0.577350,0.57735,0.000000,0.577350,0.00000,0.00000
문서3,0.00000,0.47212,0.47212,0.000000,0.74445,0.000000,0.000000,0.00000,0.00000
문서4,0.57735,0.00000,0.00000,0.000000,0.00000,0.000000,0.000000,0.57735,0.57735

In [27]:
cosine_similarity(tfidv_df, tfidv_df)

array([[1.        , 0.60784064, 0.        , 0.        ],
       [0.60784064, 1.        , 0.42980824, 0.        ],
       [0.        , 0.42980824, 1.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        ]])

In [28]:
vect = TfidfVectorizer(max_features=4)
tfvect = vect.fit(docs)
tfidv_df = pd.DataFrame(tfvect.transform(docs).toarray(), columns = sorted(vect.vocabulary_))
tfidv_df.index = ['문서1', '문서2', '문서3', '문서4']
tfidv_df

     과일이        먹고      바나나        싶은
문서1  0.0  0.707107  0.00000  0.707107
문서2  0.0  0.577350  0.57735  0.577350
문서3  0.0  0.000000  1.00000  0.000000
문서4  1.0  0.000000  0.00000  0.000000

In [34]:
df = pd.read_csv('C:/Users/jaehyun/Documents/jupyter/data/movies_metadata.csv', low_memory=False)

df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
df['overview']

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45461          Rising and falling between a man and woman.
45462    An artist struggles to finish his work while a...
45463    When one of her hits goes wrong, a professiona...
45464    In a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45466, dtype: object

In [35]:
df = df[df['overview'].notnull()].reset_index(drop=True)

df.shape

(44512, 24)

In [36]:
df = df.loc[0:20000].reset_index(drop=True)

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')

tfidf_mat = tfidf.fit_transform(df['overview'])

tfidf_mat.shape

(20001, 47665)

In [38]:
from sklearn.metrics.pairwise import cosine_similarity


cosine_mat = cosine_similarity(tfidf_mat)

cosine_mat.shape

(20001, 20001)

In [39]:
movie2Id = {}

for i, c in enumerate(df['title']):
    movie2Id[i] = c

movie2Id

{0: 'Toy Story',
 1: 'Jumanji',
 2: 'Grumpier Old Men',
 3: 'Waiting to Exhale',
 4: 'Father of the Bride Part II',
 5: 'Heat',
 6: 'Sabrina',
 7: 'Tom and Huck',
 8: 'Sudden Death',
 9: 'GoldenEye',
 10: 'The American President',
 11: 'Dracula: Dead and Loving It',
 12: 'Balto',
 13: 'Nixon',
 14: 'Cutthroat Island',
 15: 'Casino',
 16: 'Sense and Sensibility',
 17: 'Four Rooms',
 18: 'Ace Ventura: When Nature Calls',
 19: 'Money Train',
 20: 'Get Shorty',
 21: 'Copycat',
 22: 'Assassins',
 23: 'Powder',
 24: 'Leaving Las Vegas',
 25: 'Othello',
 26: 'Now and Then',
 27: 'Persuasion',
 28: 'The City of Lost Children',
 29: 'Shanghai Triad',
 30: 'Dangerous Minds',
 31: 'Twelve Monkeys',
 32: 'Babe',
 33: 'Carrington',
 34: 'Dead Man Walking',
 35: 'Across the Sea of Time',
 36: 'It Takes Two',
 37: 'Clueless',
 38: 'Cry, the Beloved Country',
 39: 'Richard III',
 40: 'Dead Presidents',
 41: 'Restoration',
 42: 'Mortal Kombat',
 43: 'To Die For',
 44: 'How To Make An American Quilt',
 45: 'Se7en',
 46: 'Pocahontas',
 47: 'When Night Is Falling',
 48: 'The Usual Suspects',
 49: 'Guardian Angel',
 50: 'Mighty Aphrodite',
 51: 'Lamerica',
 52: 'The Big Green',
 53: 'Georgia',
 54: 'Kids of the Round Table',
 55: 'Home for the Holidays',
 56: 'The Postman',
 57: 'The Confessional',
 58: 'The Indian in the Cupboard',
 59: 'Eye for an Eye',
 60: "Mr. Holland's Opus",
 61: "Don't Be a Menace to South Central While Drinking Your Juice in the Hood",
 62: 'Two If by Sea',
 63: 'Bio-Dome',
 64: 'Lawnmower Man 2: Beyond Cyberspace',
 65: 'Two Bits',
 66: 'French Twist',
 67: 'Friday',
 68: 'From Dusk Till Dawn',
 69: 'Fair Game',
 70: 'Kicking and Screaming',
 71: 'Les Miserables',
 72: 'Bed of Roses',
 73: 'Big Bully',
 74: 'Screamers',
 75: 'Nico Icon',
 76: 'The Crossing Guard',
 77: 'The Juror',
 78: 'The White Balloon',
 79: "Things to Do in Denver When You're Dead",
 80: "Antonia's Line",
 81: 'Once Upon a Time... When We Were Colored',
 82: 'Last Summer in the Hamptons',
 83: 'Angels and Insects',
 84: 'White Squall',
 85: 'Dunston Checks In',
 86: 'Black Sheep',
 87: 'Nick of Time',
 88: 'The Journey of August King',
 89: 'Mary Reilly',
 90: 'Vampire in Brooklyn',
 91: 'Beautiful Girls',
 92: 'Broken Arrow',
 93: "A Midwinter's Tale",
 94: 'La Haine',
 95: 'Shopping',
 96: 'Heidi Fleiss: Hollywood Madam',
 97: 'City Hall',
 98: 'Bottle Rocket',
 99: 'Mr. Wrong',
 100: 'Unforgettable',
 101: 'Happy Gilmore',
 102: 'The Bridges of Madison County',
 103: 'Nobody Loves Me',
 104: 'Muppet Treasure Island',
 105: 'Catwalk',
 106: 'Headless Body in Topless Bar',
 107: 'Braveheart',
 108: 'Taxi Driver',
 109: 'Rumble in the Bronx',
 110: 'Before and After',
 111: "Margaret's Museum",
 112: 'Happiness Is in the Field',
 113: 'Anne Frank Remembered',
 114: "The Young Poisoner's Handbook",
 115: 'If Lucy Fell',
 116: 'Steal Big Steal Little',
 117: 'Race the Sun',
 118: 'The Boys of St. Vincent',
 119: 'Boomerang',
 120: 'Chungking Express',
 121: 'The Star Maker',
 122: 'Flirting with Disaster',
 123: 'The Neverending Story III: Escape from Fantasia',
 124: 'The Silences of the Palace',
 125: "Jupiter's Wife",
 126: 'Pie in the Sky',
 127: 'Angela',
 128: 'Frankie Starlight',
 129: 'Jade',
 130: 'Nueba Yol',
 131: 'Sonic Outlaws',
 132: 'Down Periscope',
 133: 'From the Journals of Jean Seberg',
 134: 'Man of the Year',
 135: 'The Neon Bible',
 136: 'Target',
 137: 'Up Close & Personal',
 138: 'The Birdcage',
 139: 'Virgin Mary',
 140: 'The Brothers McMullen',
 141: 'Bad Boys',
 142: 'The Amazing Panda Adventure',
 143: 'The Basketball Diaries',
 144: 'An Awfully Big Adventure',
 145: 'Amateur',
 146: 'Apollo 13',
 147: 'Rob Roy',
 148: 'The Addiction',
 149: 'Batman Forever',
 150: 'Belle de Jour',
 151: 'Beyond Rangoon',
 152: 'Blue in the Face',
 153: 'Canadian Bacon',
 154: 'Casper',
 155: 'Clockers',
 156: 'Congo',
 157: 'Crimson Tide',
 158: 'Crumb',
 159: 'Desperado',
 160: 'Devil in a Blue Dress',
 161: 'Die Hard: With a Vengeance',
 162: 'The Doom Generation',
 163: 'Feast of July',
 164: 'First Knight',
 165: 'Free Willy 2 - The Adventure Home',
 166: 'Hackers',
 167: 'Jeffrey',
 168: 'Johnny Mnemonic',
 169: 'Judge Dredd',
 170: 'Jury Duty',
 171: 'Kids',
 172: 'Living in Oblivion',
 173: 'Lord of Illusions',
 174: 'Love & Human Remains',
 175: 'Mad Love',
 176: 'Mallrats',
 177: 'Mighty Morphin Power Rangers: The Movie',
 178: 'Moonlight and Valentino',
 179: 'Mute Witness',
 180: 'Nadja',
 181: 'The Net',
 182: 'Nine Months',
 183: 'Party Girl',
 184: 'The Prophecy',
 185: 'Reckless',
 186: 'Safe',
 187: 'The Scarlet Letter',
 188: 'The Show',
 189: 'Showgirls',
 190: 'Smoke',
 191: 'Something to Talk About',
 192: 'Species',
 193: 'The Stars Fell on Henrietta',
 194: 'Strange Days',
 195: 'The Umbrellas of Cherbourg',
 196: 'The Tie That Binds',
 197: 'Three Wishes',
 198: 'Total Eclipse',
 199: 'To Wong Foo, Thanks for Everything! Julie Newmar',
 200: 'Under Siege 2: Dark Territory',
 201: 'Unstrung Heroes',
 202: 'Unzipped',
 203: 'A Walk in the Clouds',
 204: 'Waterworld',
 205: "White Man's Burden",
 206: 'Wild Bill',
 207: 'The Browning Version',
 208: 'Bushwhacked',
 209: 'Burnt by the Sun',
 210: 'Before the Rain',
 211: 'Before Sunrise',
 212: 'Billy Madison',
 213: 'The Babysitter',
 214: 'Boys on the Side',
 215: 'The Cure',
 216: 'Castle Freak',
 217: 'Circle of Friends',
 218: 'Clerks',
 219: 'Don Juan DeMarco',
 220: 'Disclosure',
 221: 'Dream Man',
 222: 'Drop Zone',
 223: 'Destiny Turns on the Radio',
 224: 'Death and the Maiden',
 225: 'Dolores Claiborne',
 226: 'Dumb and Dumber',
 227: 'Eat Drink Man Woman',
 228: 'Exotica',
 229: 'Exit to Eden',
 230: 'Ed Wood',
 231: 'French Kiss',
 232: 'Forget Paris',
 233: 'Far from Home: The Adventures of Yellow Dog',
 234: 'A Goofy Movie',
 235: 'Hideaway',
 236: 'Fluke',
 237: 'Farinelli',
 238: 'Gordy',
 239: 'Gumby: The Movie',
 240: 'The Glass Shield',
 241: 'Hoop Dreams',
 242: 'Heavenly Creatures',
 243: 'Houseguest',
 244: 'Immortal Beloved',
 245: 'Heavyweights',
 246: 'The Hunted',
 247: 'I.Q.',
 248: 'Interview with the Vampire',
 249: 'Jefferson in Paris',
 250: 'The Jerky Boys',
 251: 'Junior',
 252: 'Just Cause',
 253: "A Kid in King Arthur's Court",
 254: 'Kiss of Death',
 255: 'Star Wars',
 256: 'Little Women',
 257: 'A Little Princess',
 258: 'Ladybird Ladybird',
 259: "L'Enfer",
 260: 'Like Water for Chocolate',
 261: 'Legends of the Fall',
 262: 'Major Payne',
 263: 'Little Odessa',
 264: 'Mi Vida Loca',
 265: 'Love Affair',
 266: 'Losing Isaiah',
 267: 'The Madness of King George',
 268: "Mary Shelley's Frankenstein",
 269: 'Man of the House',
 270: 'Mixed Nuts',
 271: 'Milk Money',
 272: 'Miracle on 34th Street',
 273: 'Miami Rhapsody',
 274: 'My Family',
 275: 'Murder in the First',
 276: "Nobody's Fool",
 277: 'Nell',
 278: 'New Jersey Drive',
 279: 'New York Cop',
 280: 'Beyond Bedlam',
 281: 'Nemesis 2 - Nebula',
 282: 'Nina Takes a Lover',
 283: 'Natural Born Killers',
 284: 'Only You',
 285: 'Once Were Warriors',
 286: 'Poison Ivy II: Lily',
 287: 'Outbreak',
 288: 'Leon: The Professional',
 289: 'The Perez Family',
 290: "A Pyromaniac's Love Story",
 291: 'Pulp Fiction',
 292: 'Panther',
 293: 'Pushing Hands',
 294: 'Priest',
 295: 'Quiz Show',
 296: 'Picture Bride',
 297: 'Queen Margot',
 298: 'The Quick and the Dead',
 299: 'Prêt-à-Porter',
 300: 'Three Colors: Red',
 301: 'Three Colors: Blue',
 302: 'Three Colors: White',
 303: 'Red Firecracker, Green Firecracker',
 304: 'Rent-a-Kid',
 305: 'Relative Fear',
 306: 'Stuart Saves His Family',
 307: 'The Swan Princess',
 308: 'The Secret of Roan Inish',
 309: 'The Specialist',
 310: 'Stargate',
 311: 'The Santa Clause',
 312: 'The Shawshank Redemption',
 313: 'Shallow Grave',
 314: 'Suture',
 315: 'Strawberry and Chocolate',
 316: 'Swimming with Sharks',
 317: 'The Sum of Us',
 318: 'Senior Trip',
 319: 'To Live',
 320: 'Tank Girl',
 321: 'Tales from the Crypt: Demon Knight',
 322: 'Star Trek: Generations',
 323: 'Tales from the Hood',
 324: 'Tom & Viv',
 325: 'Village of the Damned',
 326: 'Tommy Boy',
 327: 'Vanya on 42nd Street',
 328: 'The Underneath',
 329: 'The Walking Dead',
 330: "What's Eating Gilbert Grape",
 331: 'Virtuosity',
 332: 'While You Were Sleeping',
 333: 'The War',
 334: 'Double Happiness',
 335: "Muriel's Wedding",
 336: 'The Baby-Sitters Club',
 337: 'Ace Ventura: Pet Detective',
 338: 'The Adventures of Priscilla, Queen of the Desert',
 339: 'Backbeat',
 340: 'Bitter Moon',
 341: 'Bullets Over Broadway',
 342: 'Clear and Present Danger',
 343: 'The Client',
 344: 'Corrina, Corrina',
 345: 'Crooklyn',
 346: 'The Crow',
 347: 'Cobb',
 348: 'The Flintstones',
 349: 'Forrest Gump',
 350: 'Four Weddings and a Funeral',
 351: 'Higher Learning',
 352: 'I Like It Like That',
 353: 'I Love Trouble',
 354: 'It Could Happen to You',
 355: 'The Jungle Book',
 356: 'The Wonderful, Horrible Life of Leni Riefenstahl',
 357: 'The Lion King',
 358: 'Little Buddha',
 359: 'New Nightmare',
 360: 'The Mask',
 361: 'Maverick',
 362: 'Mrs. Parker and the Vicious Circle',
 363: 'The Naked Gun 33⅓: The Final Insult',
 364: 'The Paper',
 365: 'Reality Bites',
 366: 'Red Rock West',
 367: 'Ri¢hie Ri¢h',
 368: 'Safe Passage',
 369: 'The River Wild',
 370: 'Speed',
 371: 'Speechless',
 372: 'Timecop',
 373: 'True Lies',
 374: 'When a Man Loves a Woman',
 375: 'Wolf',
 376: 'Wyatt Earp',
 377: 'Bad Company',
 378: 'A Man of No Importance',
 379: 'S.F.W.',
 380: 'A Low Down Dirty Shame',
 381: 'Boys Life: Three Stories of Love, Lust, and Liberation',
 382: 'Colonel Chabert',
 383: 'Faster, Pussycat! Kill! Kill!',
 384: "Jason's Lyric",
 385: 'The Secret Adventures of Tom Thumb',
 386: 'Street Fighter',
 387: 'Coldblooded',
 388: 'Desert Winds',
 389: 'Fall Time',
 390: 'The Fear',
 391: 'Frank and Ollie',
 392: 'Girl in the Cadillac',
 393: 'Homage',
 394: 'Mirage',
 395: 'Open Season',
 396: 'Dos Crímenes',
 397: 'Brother Minister: The Assassination of Malcolm X',
 398: 'Highlander: The Final Dimension',
 399: 'Federal Hill',
 400: 'In the Mouth of Madness',
 401: '8 Seconds',
 402: 'Above the Rim',
 403: 'Addams Family Values',
 404: 'Martin Lawrence: You So Crazy',
 405: 'The Age of Innocence',
 406: 'Airheads',
 407: 'The Air Up There',
 408: 'Another Stakeout',
 409: 'Bad Girls',
 410: 'Barcelona',
 411: 'Being Human',
 412: 'The Beverly Hillbillies',
 413: 'Beverly Hills Cop III',
 414: 'Black Beauty',
 415: 'Blink',
 416: 'Blown Away',
 417: 'Blue Chips',
 418: 'Blue Sky',
 419: 'Body Snatchers',
 420: 'Boxing Helena',
 421: 'A Bronx Tale',
 422: 'Cabin Boy',
 423: 'Calendar Girl',
 424: "Carlito's Way",
 425: "City Slickers II: The Legend of Curly's Gold",
 426: 'Clean Slate',
 427: 'Cliffhanger',
 428: 'Coneheads',
 429: 'Color of Night',
 430: 'Cops & Robbersons',
 431: 'The Cowboy Way',
 432: 'Dangerous Game',
 433: 'Dave',
 434: 'Dazed and Confused',
 435: 'Demolition Man',
 436: 'The Endless Summer 2',
 437: 'Even Cowgirls Get the Blues',
 438: 'Fatal Instinct',
 439: 'Farewell My Concubine',
 440: 'The Favor',
 441: 'Fearless',
 442: 'Fear of a Black Hat',
 443: 'With Honors',
 444: 'Flesh and Bone',
 445: "Widows' Peak",
 446: 'For Love or Money',
 447: 'The Firm',
 448: 'Free Willy',
 449: 'Fresh',
 450: 'The Fugitive',
 451: 'Geronimo: An American Legend',
 452: 'The Getaway',
 453: 'Getting Even with Dad',
 454: 'Go Fish',
 455: 'A Good Man in Africa',
 456: 'Guilty as Sin',
 457: 'Hard Target',
 458: 'Heaven & Earth',
 459: 'Hot Shots! Part Deux',
 460: 'Live Nude Girls',
 461: 'The Englishman Who Went Up a Hill But Came Down a Mountain',
 462: 'The House of the Spirits',
 463: 'House Party 3',
 464: 'The Hudsucker Proxy',
 465: "I'll Do Anything",
 466: 'In the Army Now',
 467: 'In the Line of Fire',
 468: 'In the Name of the Father',
 469: 'The Inkwell',
 470: "What's Love Got to Do with It",
 471: 'Jimmy Hollywood',
 472: 'Judgment Night',
 473: 'Jurassic Park',
 474: 'Kalifornia',
 475: 'Killing Zoe',
 476: 'King of the Hill',
 477: 'Lassie',
 478: 'Last Action Hero',
 479: 'Life With Mikey',
 480: 'Lightning Jack',
 481: 'M. Butterfly',
 482: 'Made in America',
 483: 'Malice',
 484: 'The Man without a Face',
 485: 'Manhattan Murder Mystery',
 486: 'Menace II Society',
 487: 'Executive Decision',
 488: 'In the Realm of the Senses',
 489: 'What Happened Was...',
 490: 'Much Ado About Nothing',
 491: 'Mr. Jones',
 492: 'Mr. Wonderful',
 493: 'Mrs. Doubtfire',
 494: 'Naked',
 495: 'The Next Karate Kid',
 496: 'The New Age',
 497: 'No Escape',
 498: 'North',
 499: 'Orlando',
 500: 'A Perfect World',
 501: 'Philadelphia',
 502: 'The Piano',
 503: 'Poetic Justice',
 504: 'The Program',
 505: 'The Puppet Masters',
 506: 'Radioland Murders',
 507: 'The Ref',
 508: 'The Remains of the Day',
 509: 'Renaissance Man',
 510: 'Rising Sun',
 511: 'The Road to Wellville',
 512: 'RoboCop 3',
 513: 'Robin Hood: Men in Tights',
 514: 'Romeo Is Bleeding',
 515: 'Romper Stomper',
 516: 'Ruby in Paradise',
 517: 'Rudy',
 518: 'The Saint of Fort Washington',
 519: 'Savage Nights',
 520: "Schindler's List",
 521: 'The Scout',
 522: 'Searching for Bobby Fischer',
 523: 'Second Best',
 524: 'The Secret Garden',
 525: 'Serial Mom',
 526: 'The Shadow',
 527: 'Shadowlands',
 528: 'Short Cuts',
 529: 'A Simple Twist of Fate',
 530: 'Sirens',
 531: 'Six Degrees of Separation',
 532: 'Sleepless in Seattle',
 533: 'Sliver',
 534: 'Blade Runner',
 535: 'Son in Law',
 536: 'So I Married an Axe Murderer',
 537: 'Striking Distance',
 538: 'Harem',
 539: 'Super Mario Bros.',
 540: 'Surviving the Game',
 541: 'Terminal Velocity',
 542: 'Thirty Two Short Films About Glenn Gould',
 543: 'Threesome',
 544: 'The Nightmare Before Christmas',
 545: 'The Three Musketeers',
 546: 'Tombstone',
 547: 'Trial by Jury',
 548: 'True Romance',
 549: 'The War Room',
 550: 'The Pagemaster',
 551: 'Paris, France',
 552: 'The Beans of Egypt, Maine',
 553: 'Killer',
 554: 'Welcome to the Dollhouse',
 555: 'Germinal',
 556: 'Chasers',
 557: 'Cronos',
 558: 'Naked in New York',
 559: 'Kika',
 560: 'Bhaji on the Beach',
 561: 'Little Big League',
 562: 'The Slingshot',
 563: 'Wide Eyed and Legless',
 564: 'Foreign Student',
 565: 'Ciao, Professore!',
 566: 'Spanking the Monkey',
 567: 'The Little Rascals',
 568: 'À la mode',
 569: 'Andre',
 570: 'The Escort',
 571: 'Princess Caraboo',
 572: 'The Celluloid Closet',
 573: 'Café au Lait',
 574: 'Dear Diary',
 575: "I Don't Want to Talk About It",
 576: 'The Brady Bunch Movie',
 577: 'Home Alone',
 578: 'Ghost',
 579: 'Aladdin',
 580: 'Terminator 2: Judgment Day',
 581: 'Dances with Wolves',
 582: 'Tough and Deadly',
 583: 'Batman',
 584: 'The Silence of the Lambs',
 585: 'Snow White and the Seven Dwarfs',
 586: 'Beauty and the Beast',
 587: 'Pinocchio',
 588: 'Pretty Woman',
 589: 'Window to Paris',
 590: 'The Wild Bunch',
 591: 'Love and a .45',
 592: "The Wooden Man's Bride",
 593: 'A Great Day in Harlem',
 594: 'Bye Bye Love',
 595: 'One Fine Day',
 596: 'Candyman: Farewell to the Flesh',
 597: 'Century',
 598: 'Fargo',
 599: 'Homeward Bound II: Lost in San Francisco',
 600: 'Heavy Metal',
 601: 'Hellraiser: Bloodline',
 602: 'The Pallbearer',
 603: 'Jane Eyre',
 604: 'Loaded',
 605: 'Bread and Chocolate',
 606: 'The Aristocats',
 607: 'The Flower of My Secret',
 608: 'Two Much',
 609: 'Ed',
 610: 'Scream of Stone',
 611: 'My Favorite Season',
 612: 'A Modern Affair',
 613: 'Condition Red',
 614: 'Halfaouine: Boy of the Terraces',
 615: 'A Thin Line Between Love and Hate',
 616: 'The Last Supper',
 617: 'Primal Fear',
 618: 'Rude',
 619: 'Carried Away',
 620: 'All Dogs Go to Heaven 2',
 621: 'Land and Freedom',
 622: 'Denise Calls Up',
 623: 'Theodore Rex',
 624: 'A Family Thing',
 625: 'Frisk',
 626: 'Sgt. Bilko',
 627: 'Jack & Sarah',
 628: 'Girl 6',
 629: 'Diabolique',
 630: 'Little Indian, Big City',
 631: 'Roula',
 632: 'Nelly and Monsieur Arnaud',
 633: 'Courage Under Fire',
 634: 'Mission: Impossible',
 635: 'Cold Fever',
 636: 'Moll Flanders',
 637: '301, 302',
 638: 'DragonHeart',
 639: "My Mother's Courage",
 640: 'Eddie',
 641: 'Yankee Zulu',
 642: "Billy's Holiday",
 643: 'Purple Noon',
 644: 'August',
 645: 'James and the Giant Peach',
 646: 'Fear',
 647: 'Kids in the Hall: Brain Candy',
 648: 'Faithful',
 649: 'Underground',
 650: 'All Things Fair',
 651: 'Bloodsport II',
 652: 'Pather Panchali',
 653: 'The World of Apu',
 654: 'Mystery Science Theater 3000: The Movie',
 655: 'Tarantella',
 656: 'Space Jam',
 657: 'Barbarella',
 658: 'Hostile Intentions',
 659: 'They Bite',
 660: 'Some Folks Call It a Sling Blade',
 661: 'The Run of the Country',
 662: 'Alphaville',
 663: 'Coup de Torchon',
 664: 'Tigrero: A Film That Was Never Made',
 665: 'The Eye of Vichy',
 666: 'Windows',
 667: "It's My Party",
 668: 'Country Life',
 669: 'Operation Dumbo Drop',
 670: 'The Promise',
 671: 'Mrs. Winterbourne',
 672: 'Solo',
 673: 'The Substitute',
 674: 'True Crime',
 675: 'Butterfly Kiss',
 676: 'Feeling Minnesota',
 677: 'Delta of Venus',
 678: 'To Cross the Rubicon',
 679: 'Angus',
 680: 'Priest Daens',
 681: 'Faces',
 682: 'Boys',
 683: 'The Quest',
 684: 'Cosi',
 685: 'Sunset Park',
 686: 'Mulholland Falls',
 687: 'The Truth About Cats & Dogs',
 688: 'Oliver & Company',
 689: 'Celtic Pride',
 690: 'Flipper',
 691: 'Captives',
 692: 'Of Love and Shadows',
 693: 'Dead Man',
 694: 'The Horseman on the Roof',
 695: 'Switchblade Sisters',
 696: 'Mouth to Mouth',
 697: 'The Visitors',
 698: 'Multiplicity',
 699: 'The Haunted World of Edward D. Wood, Jr.',
 700: 'Two Friends',
 701: 'The Craft',
 702: 'The Great White Hype',
 703: 'Last Dance',
 704: 'War Stories Our Mother Never Told Us',
 705: 'Cold Comfort Farm',
 706: 'Institute Benjamenta, or This Dream People Call Human Life',
 707: "Heaven's Prisoners",
 708: 'Original Gangstas',
 709: 'The Rock',
 710: 'Getting Away with Murder',
 711: 'Cemetery Man',
 712: 'Twister',
 713: 'Barb Wire',
 714: 'Le Garçu',
 715: 'Honeymoon',
 716: 'Ghost in the Shell',
 717: 'Thinner',
 718: 'Spy Hard',
 719: 'Brothers in Trouble',
 720: 'A Close Shave',
 721: 'Force of Evil',
 722: 'The Stupids',
 723: 'The Arrival',
 724: 'The Man from Down Under',
 725: 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 726: 'Careful',
 727: 'Vermont Is for Lovers',
 728: 'A Month by the Lake',
 729: 'Gold Diggers: The Secret of Bear Mountain',
 730: 'Kim',
 731: 'Carmen Miranda: Bananas Is My Business',
 732: 'Ashes of Time',
 733: 'The Jar',
 734: 'Maya Lin: A Strong Clear Vision',
 735: 'Stalingrad',
 736: 'The Phantom',
 737: 'Striptease',
 738: 'The Last of the High Kings',
 739: 'Heavy',
 740: 'Jack',
 741: 'I Shot Andy Warhol',
 742: 'The Grass Harp',
 743: "Someone Else's America",
 744: 'Life is Rosy',
 745: 'Quartier Mozart',
 746: 'Touki Bouki',
 747: "God's Gift",
 748: 'Spirits of the Dead',
 749: 'Babyfever',
 750: "Pharaoh's  Army",
 751: 'Trainspotting',
 752: 'Til There Was You',
 753: 'Independence Day',
 754: 'Stealing Beauty',
 755: 'The Fan',
 756: 'The Hunchback of Notre Dame',
 757: 'The Cable Guy',
 758: 'Kingpin',
 759: 'Eraser',
 760: 'The Gate of Heavenly Peace',
 761: 'The Nutty Professor',
 762: 'I, the Worst of All',
 763: 'An Unforgettable Summer',
 764: 'A Hungarian Fairy Tale',
 765: 'My Life and Times With Antonin Artaud',
 766: 'Midnight Dancers',
 767: 'Somebody to Love',
 768: 'A Very Natural Thing',
 769: 'The Old Lady Who Walked in the Sea',
 770: 'Daylight',
 771: 'The Frighteners',
 772: 'Lone Star',
 773: 'Harriet the Spy',
 774: 'Phenomenon',
 775: 'Walking and Talking',
 776: "She's the One",
 777: 'A Time to Kill',
 778: 'American Buffalo',
 779: 'Rendezvous in Paris',
 780: 'Alaska',
 781: 'Fled',
 782: 'Kazaam',
 783: 'Magic Hunter',
 784: 'Larger Than Life',
 785: 'Power 98',
 786: 'Two Deaths',
 787: 'A Very Brady Sequel',
 788: 'Stefano Quantestorie',
 789: 'Death in the Garden',
 790: 'Hedd Wyn',
 791: 'La Collectionneuse',
 792: 'Kaspar Hauser',
 793: 'Regular Guys',

In [40]:
id2movie = {}
for i, c in movie2Id.items():
    id2movie[c] = i
    
id2movie

{'Toy Story': 0,
 'Jumanji': 1,
 'Grumpier Old Men': 2,
 'Waiting to Exhale': 3,
 'Father of the Bride Part II': 4,
 'Heat': 14628,
 'Sabrina': 876,
 'Tom and Huck': 7,
 'Sudden Death': 8,
 'GoldenEye': 9,
 'The American President': 10,
 'Dracula: Dead and Loving It': 11,
 'Balto': 12,
 'Nixon': 13,
 'Cutthroat Island': 14,
 'Casino': 15,
 'Sense and Sensibility': 16,
 'Four Rooms': 17,
 'Ace Ventura: When Nature Calls': 18,
 'Money Train': 19,
 'Get Shorty': 20,
 'Copycat': 21,
 'Assassins': 22,
 'Powder': 23,
 'Leaving Las Vegas': 24,
 'Othello': 15281,
 'Now and Then': 26,
 'Persuasion': 14779,
 'The City of Lost Children': 28,
 'Shanghai Triad': 29,
 'Dangerous Minds': 30,
 'Twelve Monkeys': 31,
 'Babe': 32,
 'Carrington': 33,
 'Dead Man Walking': 34,
 'Across the Sea of Time': 35,
 'It Takes Two': 36,
 'Clueless': 37,
 'Cry, the Beloved Country': 38,
 'Richard III': 17618,
 'Dead Presidents': 40,
 'Restoration': 41,
 'Mortal Kombat': 42,
 'To Die For': 43,
 'How To Make An American Quilt': 44,
 'Se7en': 45,
 'Pocahontas': 46,
 'When Night Is Falling': 47,
 'The Usual Suspects': 48,
 'Guardian Angel': 49,
 'Mighty Aphrodite': 50,
 'Lamerica': 51,
 'The Big Green': 52,
 'Georgia': 53,
 'Kids of the Round Table': 54,
 'Home for the Holidays': 55,
 'The Postman': 1628,
 'The Confessional': 57,
 'The Indian in the Cupboard': 58,
 'Eye for an Eye': 59,
 "Mr. Holland's Opus": 60,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood": 61,
 'Two If by Sea': 62,
 'Bio-Dome': 63,
 'Lawnmower Man 2: Beyond Cyberspace': 64,
 'Two Bits': 65,
 'French Twist': 66,
 'Friday': 67,
 'From Dusk Till Dawn': 68,
 'Fair Game': 16006,
 'Kicking and Screaming': 70,
 'Les Miserables': 71,
 'Bed of Roses': 19748,
 'Big Bully': 73,
 'Screamers': 74,
 'Nico Icon': 75,
 'The Crossing Guard': 76,
 'The Juror': 77,
 'The White Balloon': 78,
 "Things to Do in Denver When You're Dead": 79,
 "Antonia's Line": 80,
 'Once Upon a Time... When We Were Colored': 81,
 'Last Summer in the Hamptons': 82,
 'Angels and Insects': 83,
 'White Squall': 84,
 'Dunston Checks In': 85,
 'Black Sheep': 16255,
 'Nick of Time': 87,
 'The Journey of August King': 88,
 'Mary Reilly': 89,
 'Vampire in Brooklyn': 90,
 'Beautiful Girls': 91,
 'Broken Arrow': 11904,
 "A Midwinter's Tale": 93,
 'La Haine': 94,
 'Shopping': 95,
 'Heidi Fleiss: Hollywood Madam': 96,
 'City Hall': 97,
 'Bottle Rocket': 98,
 'Mr. Wrong': 99,
 'Unforgettable': 100,
 'Happy Gilmore': 101,
 'The Bridges of Madison County': 102,
 'Nobody Loves Me': 103,
 'Muppet Treasure Island': 104,
 'Catwalk': 105,
 'Headless Body in Topless Bar': 106,
 'Braveheart': 107,
 'Taxi Driver': 108,
 'Rumble in the Bronx': 109,
 'Before and After': 110,
 "Margaret's Museum": 111,
 'Happiness Is in the Field': 112,
 'Anne Frank Remembered': 113,
 "The Young Poisoner's Handbook": 114,
 'If Lucy Fell': 115,
 'Steal Big Steal Little': 116,
 'Race the Sun': 117,
 'The Boys of St. Vincent': 118,
 'Boomerang': 119,
 'Chungking Express': 120,
 'The Star Maker': 121,
 'Flirting with Disaster': 122,
 'The Neverending Story III: Escape from Fantasia': 123,
 'The Silences of the Palace': 124,
 "Jupiter's Wife": 125,
 'Pie in the Sky': 126,
 'Angela': 127,
 'Frankie Starlight': 128,
 'Jade': 129,
 'Nueba Yol': 130,
 'Sonic Outlaws': 131,
 'Down Periscope': 132,
 'From the Journals of Jean Seberg': 133,
 'Man of the Year': 11298,
 'The Neon Bible': 135,
 'Target': 8853,
 'Up Close & Personal': 137,
 'The Birdcage': 138,
 'Virgin Mary': 139,
 'The Brothers McMullen': 140,
 'Bad Boys': 9337,
 'The Amazing Panda Adventure': 142,
 'The Basketball Diaries': 143,
 'An Awfully Big Adventure': 144,
 'Amateur': 145,
 'Apollo 13': 146,
 'Rob Roy': 147,
 'The Addiction': 148,
 'Batman Forever': 149,
 'Belle de Jour': 150,
 'Beyond Rangoon': 151,
 'Blue in the Face': 152,
 'Canadian Bacon': 153,
 'Casper': 154,
 'Clockers': 155,
 'Congo': 156,
 'Crimson Tide': 157,
 'Crumb': 158,
 'Desperado': 159,
 'Devil in a Blue Dress': 160,
 'Die Hard: With a Vengeance': 161,
 'The Doom Generation': 162,
 'Feast of July': 163,
 'First Knight': 164,
 'Free Willy 2 - The Adventure Home': 165,
 'Hackers': 166,
 'Jeffrey': 167,
 'Johnny Mnemonic': 168,
 'Judge Dredd': 169,
 'Jury Duty': 170,
 'Kids': 171,
 'Living in Oblivion': 172,
 'Lord of Illusions': 173,
 'Love & Human Remains': 174,
 'Mad Love': 11587,
 'Mallrats': 176,
 'Mighty Morphin Power Rangers: The Movie': 177,
 'Moonlight and Valentino': 178,
 'Mute Witness': 179,
 'Nadja': 180,
 'The Net': 181,
 'Nine Months': 182,
 'Party Girl': 15872,
 'The Prophecy': 184,
 'Reckless': 14241,
 'Safe': 18788,
 'The Scarlet Letter': 18785,
 'The Show': 188,
 'Showgirls': 189,
 'Smoke': 190,
 'Something to Talk About': 191,
 'Species': 192,
 'The Stars Fell on Henrietta': 193,
 'Strange Days': 194,
 'The Umbrellas of Cherbourg': 195,
 'The Tie That Binds': 196,
 'Three Wishes': 197,
 'Total Eclipse': 198,
 'To Wong Foo, Thanks for Everything! Julie Newmar': 199,
 'Under Siege 2: Dark Territory': 200,
 'Unstrung Heroes': 201,
 'Unzipped': 202,
 'A Walk in the Clouds': 203,
 'Waterworld': 204,
 "White Man's Burden": 205,
 'Wild Bill': 19084,
 'The Browning Version': 10221,
 'Bushwhacked': 208,
 'Burnt by the Sun': 209,
 'Before the Rain': 210,
 'Before Sunrise': 211,
 'Billy Madison': 212,
 'The Babysitter': 213,
 'Boys on the Side': 214,
 'The Cure': 18563,
 'Castle Freak': 216,
 'Circle of Friends': 217,
 'Clerks': 218,
 'Don Juan DeMarco': 219,
 'Disclosure': 220,
 'Dream Man': 221,
 'Drop Zone': 222,
 'Destiny Turns on the Radio': 223,
 'Death and the Maiden': 224,
 'Dolores Claiborne': 225,
 'Dumb and Dumber': 226,
 'Eat Drink Man Woman': 227,
 'Exotica': 228,
 'Exit to Eden': 229,
 'Ed Wood': 230,
 'French Kiss': 231,
 'Forget Paris': 232,
 'Far from Home: The Adventures of Yellow Dog': 233,
 'A Goofy Movie': 234,
 'Hideaway': 235,
 'Fluke': 236,
 'Farinelli': 237,
 'Gordy': 238,
 'Gumby: The Movie': 239,
 'The Glass Shield': 240,
 'Hoop Dreams': 241,
 'Heavenly Creatures': 242,
 'Houseguest': 243,
 'Immortal Beloved': 244,
 'Heavyweights': 245,
 'The Hunted': 6058,
 'I.Q.': 247,
 'Interview with the Vampire': 248,
 'Jefferson in Paris': 249,
 'The Jerky Boys': 250,
 'Junior': 251,
 'Just Cause': 252,
 "A Kid in King Arthur's Court": 253,
 'Kiss of Death': 10572,
 'Star Wars': 255,
 'Little Women': 6878,
 'A Little Princess': 257,
 'Ladybird Ladybird': 258,
 "L'Enfer": 259,
 'Like Water for Chocolate': 260,
 'Legends of the Fall': 261,
 'Major Payne': 262,
 'Little Odessa': 263,
 'Mi Vida Loca': 264,
 'Love Affair': 6664,
 'Losing Isaiah': 266,
 'The Madness of King George': 267,
 "Mary Shelley's Frankenstein": 268,
 'Man of the House': 9702,
 'Mixed Nuts': 270,
 'Milk Money': 271,
 'Miracle on 34th Street': 2267,
 'Miami Rhapsody': 273,
 'My Family': 274,
 'Murder in the First': 275,
 "Nobody's Fool": 8864,
 'Nell': 277,
 'New Jersey Drive': 278,
 'New York Cop': 279,
 'Beyond Bedlam': 280,
 'Nemesis 2 - Nebula': 281,
 'Nina Takes a Lover': 282,
 'Natural Born Killers': 283,
 'Only You': 284,
 'Once Were Warriors': 285,
 'Poison Ivy II: Lily': 286,
 'Outbreak': 287,
 'Leon: The Professional': 288,
 'The Perez Family': 289,
 "A Pyromaniac's Love Story": 290,
 'Pulp Fiction': 291,
 'Panther': 292,
 'Pushing Hands': 293,
 'Priest': 17024,
 'Quiz Show': 295,
 'Picture Bride': 296,
 'Queen Margot': 297,
 'The Quick and the Dead': 13453,
 'Prêt-à-Porter': 299,
 'Three Colors: Red': 300,
 'Three Colors: Blue': 301,
 'Three Colors: White': 302,
 'Red Firecracker, Green Firecracker': 303,
 'Rent-a-Kid': 304,
 'Relative Fear': 305,
 'Stuart Saves His Family': 306,
 'The Swan Princess': 307,
 'The Secret of Roan Inish': 308,
 'The Specialist': 309,
 'Stargate': 310,
 'The Santa Clause': 311,
 'The Shawshank Redemption': 312,
 'Shallow Grave': 313,
 'Suture': 314,
 'Strawberry and Chocolate': 315,
 'Swimming with Sharks': 316,
 'The Sum of Us': 317,
 'Senior Trip': 318,
 'To Live': 319,
 'Tank Girl': 320,
 'Tales from the Crypt: Demon Knight': 321,
 'Star Trek: Generations': 322,
 'Tales from the Hood': 323,
 'Tom & Viv': 324,
 'Village of the Damned': 2422,
 'Tommy Boy': 326,
 'Vanya on 42nd Street': 327,
 'The Underneath': 328,
 'The Walking Dead': 7635,
 "What's Eating Gilbert Grape": 330,
 'Virtuosity': 331,
 'While You Were Sleeping': 332,
 'The War': 19037,
 'Double Happiness': 334,
 "Muriel's Wedding": 335,
 'The Baby-Sitters Club': 336,
 'Ace Ventura: Pet Detective': 337,
 'The Adventures of Priscilla, Queen of the Desert': 338,
 'Backbeat': 339,
 'Bitter Moon': 340,
 'Bullets Over Broadway': 341,
 'Clear and Present Danger': 342,
 'The Client': 343,
 'Corrina, Corrina': 344,
 'Crooklyn': 345,
 'The Crow': 346,
 'Cobb': 347,
 'The Flintstones': 348,
 'Forrest Gump': 349,
 'Four Weddings and a Funeral': 350,
 'Higher Learning': 351,
 'I Like It Like That': 352,
 'I Love Trouble': 353,
 'It Could Happen to You': 354,
 'The Jungle Book': 1953,
 'The Wonderful, Horrible Life of Leni Riefenstahl': 356,
 'The Lion King': 357,
 'Little Buddha': 358,
 'New Nightmare': 359,
 'The Mask': 360,
 'Maverick': 361,
 'Mrs. Parker and the Vicious Circle': 362,
 'The Naked Gun 33⅓: The Final Insult': 363,
 'The Paper': 364,
 'Reality Bites': 365,
 'Red Rock West': 366,
 'Ri¢hie Ri¢h': 367,
 'Safe Passage': 368,
 'The River Wild': 369,
 'Speed': 370,
 'Speechless': 371,
 'Timecop': 372,
 'True Lies': 373,
 'When a Man Loves a Woman': 374,
 'Wolf': 11623,
 'Wyatt Earp': 376,
 'Bad Company': 5271,
 'A Man of No Importance': 378,
 'S.F.W.': 379,
 'A Low Down Dirty Shame': 380,
 'Boys Life: Three Stories of Love, Lust, and Liberation': 381,
 'Colonel Chabert': 382,
 'Faster, Pussycat! Kill! Kill!': 383,
 "Jason's Lyric": 384,
 'The Secret Adventures of Tom Thumb': 385,
 'Street Fighter': 386,
 'Coldblooded': 387,
 'Desert Winds': 388,
 'Fall Time': 389,
 'The Fear': 390,
 'Frank and Ollie': 391,
 'Girl in the Cadillac': 392,
 'Homage': 393,
 'Mirage': 10906,
 'Open Season': 11279,
 'Dos Crímenes': 396,
 'Brother Minister: The Assassination of Malcolm X': 397,
 'Highlander: The Final Dimension': 398,
 'Federal Hill': 399,
 'In the Mouth of Madness': 400,
 '8 Seconds': 401,
 'Above the Rim': 402,
 'Addams Family Values': 403,
 'Martin Lawrence: You So Crazy': 404,
 'The Age of Innocence': 19633,
 'Airheads': 406,
 'The Air Up There': 407,
 'Another Stakeout': 408,
 'Bad Girls': 409,
 'Barcelona': 410,
 'Being Human': 411,
 'The Beverly Hillbillies': 412,
 'Beverly Hills Cop III': 413,
 'Black Beauty': 8178,
 'Blink': 415,
 'Blown Away': 18046,
 'Blue Chips': 417,
 'Blue Sky': 418,
 'Body Snatchers': 419,
 'Boxing Helena': 420,
 'A Bronx Tale': 421,
 'Cabin Boy': 422,
 'Calendar Girl': 423,
 "Carlito's Way": 424,
 "City Slickers II: The Legend of Curly's Gold": 425,
 'Clean Slate': 426,
 'Cliffhanger': 427,
 'Coneheads': 428,
 'Color of Night': 429,
 'Cops & Robbersons': 430,
 'The Cowboy Way': 431,
 'Dangerous Game': 432,
 'Dave': 433,
 'Dazed and Confused': 434,
 'Demolition Man': 435,
 'The Endless Summer 2': 436,
 'Even Cowgirls Get the Blues': 437,
 'Fatal Instinct': 438,
 'Farewell My Concubine': 439,
 'The Favor': 440,
 'Fearless': 11019,
 'Fear of a Black Hat': 442,
 'With Honors': 443,
 'Flesh and Bone': 444,
 "Widows' Peak": 445,
 'For Love or Money': 446,
 'The Firm': 19043,
 'Free Willy': 448,
 'Fresh': 449,
 'The Fugitive': 12141,
 'Geronimo: An American Legend': 451,
 'The Getaway': 7553,
 'Getting Even with Dad': 453,
 'Go Fish': 454,
 'A Good Man in Africa': 455,
 'Guilty as Sin': 456,
 'Hard Target': 457,
 'Heaven & Earth': 458,
 'Hot Shots! Part Deux': 459,
 'Live Nude Girls': 460,
 'The Englishman Who Went Up a Hill But Came Down a Mountain': 461,
 'The House of the Spirits': 462,
 'House Party 3': 463,
 'The Hudsucker Proxy': 464,
 "I'll Do Anything": 465,
 'In the Army Now': 466,
 'In the Line of Fire': 467,
 'In the Name of the Father': 468,
 'The Inkwell': 469,
 "What's Love Got to Do with It": 470,
 'Jimmy Hollywood': 471,
 'Judgment Night': 472,
 'Jurassic Park': 473,
 'Kalifornia': 474,
 'Killing Zoe': 475,
 'King of the Hill': 476,
 'Lassie': 11195,
 'Last Action Hero': 478,
 'Life With Mikey': 479,
 'Lightning Jack': 480,
 'M. Butterfly': 481,
 'Made in America': 482,
 'Malice': 483,
 'The Man without a Face': 484,
 'Manhattan Murder Mystery': 485,
 'Menace II Society': 486,
 'Executive Decision': 487,
 'In the Realm of the Senses': 488,
 'What Happened Was...': 489,
 'Much Ado About Nothing': 490,
 'Mr. Jones': 491,
 'Mr. Wonderful': 492,
 'Mrs. Doubtfire': 493,
 'Naked': 494,
 'The Next Karate Kid': 495,
 'The New Age': 496,
 'No Escape': 497,
 'North': 15488,
 'Orlando': 499,
 'A Perfect World': 500,
 'Philadelphia': 501,
 'The Piano': 502,
 'Poetic Justice': 503,
 'The Program': 504,
 'The Puppet Masters': 505,
 'Radioland Murders': 506,
 'The Ref': 507,
 'The Remains of the Day': 508,
 'Renaissance Man': 509,
 'Rising Sun': 510,
 'The Road to Wellville': 511,
 'RoboCop 3': 512,
 'Robin Hood: Men in Tights': 513,
 'Romeo Is Bleeding': 514,
 'Romper Stomper': 515,
 'Ruby in Paradise': 516,
 'Rudy': 517,
 'The Saint of Fort Washington': 518,
 'Savage Nights': 519,
 "Schindler's List": 520,
 'The Scout': 521,
 'Searching for Bobby Fischer': 522,
 'Second Best': 523,
 'The Secret Garden': 8443,
 'Serial Mom': 525,
 'The Shadow': 526,
 'Shadowlands': 527,
 'Short Cuts': 528,
 'A Simple Twist of Fate': 529,
 'Sirens': 530,
 'Six Degrees of Separation': 531,
 'Sleepless in Seattle': 532,
 'Sliver': 533,
 'Blade Runner': 534,
 'Son in Law': 535,
 'So I Married an Axe Murderer': 536,
 'Striking Distance': 537,
 'Harem': 538,
 'Super Mario Bros.': 539,
 'Surviving the Game': 540,
 'Terminal Velocity': 541,
 'Thirty Two Short Films About Glenn Gould': 542,
 'Threesome': 543,
 'The Nightmare Before Christmas': 544,
 'The Three Musketeers': 18475,
 'Tombstone': 546,
 'Trial by Jury': 547,
 'True Romance': 548,
 'The War Room': 549,
 'The Pagemaster': 550,
 'Paris, France': 551,
 'The Beans of Egypt, Maine': 552,
 'Killer': 18006,
 'Welcome to the Dollhouse': 554,
 'Germinal': 555,
 'Chasers': 556,
 'Cronos': 557,
 'Naked in New York': 558,
 'Kika': 559,
 'Bhaji on the Beach': 560,
 'Little Big League': 561,
 'The Slingshot': 562,
 'Wide Eyed and Legless': 563,
 'Foreign Student': 564,
 'Ciao, Professore!': 565,
 'Spanking the Monkey': 566,
 'The Little Rascals': 567,
 'À la mode': 568,
 'Andre': 569,
 'The Escort': 570,
 'Princess Caraboo': 571,
 'The Celluloid Closet': 572,
 'Café au Lait': 573,
 'Dear Diary': 574,
 "I Don't Want to Talk About It": 575,
 'The Brady Bunch Movie': 576,
 'Home Alone': 577,
 'Ghost': 578,
 'Aladdin': 579,
 'Terminator 2: Judgment Day': 580,
 'Dances with Wolves': 581,
 'Tough and Deadly': 582,
 'Batman': 8578,
 'The Silence of the Lambs': 584,
 'Snow White and the Seven Dwarfs': 585,
 'Beauty and the Beast': 6888,
 'Pinocchio': 17839,
 'Pretty Woman': 588,
 'Window to Paris': 589,
 'The Wild Bunch': 590,
 'Love and a .45': 591,
 "The Wooden Man's Bride": 592,
 'A Great Day in Harlem': 593,
 'Bye Bye Love': 594,
 'One Fine Day': 595,
 'Candyman: Farewell to the Flesh': 596,
 'Century': 597,
 'Fargo': 598,
 'Homeward Bound II: Lost in San Francisco': 599,
 'Heavy Metal': 600,
 'Hellraiser: Bloodline': 601,
 'The Pallbearer': 602,
 'Jane Eyre': 16756,
 'Loaded': 604,
 'Bread and Chocolate': 605,
 'The Aristocats': 606,
 'The Flower of My Secret': 607,
 'Two Much': 608,
 'Ed': 609,
 'Scream of Stone': 610,
 'My Favorite Season': 611,
 'A Modern Affair': 612,
 'Condition Red': 613,
 'Halfaouine: Boy of the Terraces': 614,
 'A Thin Line Between Love and Hate': 615,
 'The Last Supper': 616,
 'Primal Fear': 617,
 'Rude': 618,
 'Carried Away': 619,
 'All Dogs Go to Heaven 2': 620,
 'Land and Freedom': 621,
 'Denise Calls Up': 622,
 'Theodore Rex': 623,
 'A Family Thing': 624,
 'Frisk': 625,
 'Sgt. Bilko': 626,
 'Jack & Sarah': 627,
 'Girl 6': 628,
 'Diabolique': 6940,
 'Little Indian, Big City': 630,
 'Roula': 631,
 'Nelly and Monsieur Arnaud': 632,
 'Courage Under Fire': 633,
 'Mission: Impossible': 634,
 'Cold Fever': 635,
 'Moll Flanders': 636,
 '301, 302': 637,
 'DragonHeart': 638,
 "My Mother's Courage": 639,
 'Eddie': 640,
 'Yankee Zulu': 641,
 "Billy's Holiday": 642,
 'Purple Noon': 643,
 'August': 12758,
 'James and the Giant Peach': 645,
 'Fear': 646,
 'Kids in the Hall: Brain Candy': 647,
 'Faithful': 648,
 'Underground': 649,
 'All Things Fair': 650,
 'Bloodsport II': 651,
 'Pather Panchali': 652,
 'The World of Apu': 653,
 'Mystery Science Theater 3000: The Movie': 654,
 'Tarantella': 655,
 'Space Jam': 656,
 'Barbarella': 657,
 'Hostile Intentions': 658,
 'They Bite': 659,
 'Some Folks Call It a Sling Blade': 660,
 'The Run of the Country': 661,
 'Alphaville': 662,
 'Coup de Torchon': 663,
 'Tigrero: A Film That Was Never Made': 664,
 'The Eye of Vichy': 665,
 'Windows': 666,
 "It's My Party": 667,
 'Country Life': 668,
 'Operation Dumbo Drop': 669,
 'The Promise': 17283,
 'Mrs. Winterbourne': 671,
 'Solo': 672,
 'The Substitute': 12766,
 'True Crime': 2430,
 'Butterfly Kiss': 675,
 'Feeling Minnesota': 676,
 'Delta of Venus': 677,
 'To Cross the Rubicon': 678,
 'Angus': 679,
 'Priest Daens': 680,
 'Faces': 681,
 'Boys': 17578,
 'The Quest': 683,
 'Cosi': 684,
 'Sunset Park': 685,
 'Mulholland Falls': 686,
 'The Truth About Cats & Dogs': 687,
 'Oliver & Company': 688,
 'Celtic Pride': 689,
 'Flipper': 8099,
 'Captives': 691,
 'Of Love and Shadows': 692,
 'Dead Man': 693,
 'The Horseman on the Roof': 694,
 'Switchblade Sisters': 695,
 'Mouth to Mouth': 11032,
 'The Visitors': 697,
 'Multiplicity': 698,
 'The Haunted World of Edward D. Wood, Jr.': 699,
 'Two Friends': 700,
 'The Craft': 701,
 'The Great White Hype': 702,
 'Last Dance': 703,
 'War Stories Our Mother Never Told Us': 704,
 'Cold Comfort Farm': 705,
 'Institute Benjamenta, or This Dream People Call Human Life': 706,
 "Heaven's Prisoners": 707,
 'Original Gangstas': 708,
 'The Rock': 709,
 'Getting Away with Murder': 710,
 'Cemetery Man': 711,
 'Twister': 7406,
 'Barb Wire': 713,
 'Le Garçu': 714,
 'Honeymoon': 19803,
 'Ghost in the Shell': 716,
 'Thinner': 717,
 'Spy Hard': 718,
 'Brothers in Trouble': 719,
 'A Close Shave': 720,
 'Force of Evil': 721,
 'The Stupids': 722,
 'The Arrival': 723,
 'The Man from Down Under': 724,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb': 725,
 'Careful': 726,
 'Vermont Is for Lovers': 727,
 'A Month by the Lake': 728,
 'Gold Diggers: The Secret of Bear Mountain': 729,
 'Kim': 730,
 'Carmen Miranda: Bananas Is My Business': 731,
 'Ashes of Time': 732,
 'The Jar': 733,
 'Maya Lin: A Strong Clear Vision': 734,
 'Stalingrad': 735,
 'The Phantom': 15428,
 'Striptease': 737,
 'The Last of the High Kings': 738,
 'Heavy': 739,
 'Jack': 740,
 'I Shot Andy Warhol': 741,
 'The Grass Harp': 742,
 "Someone Else's America": 743,
 'Life is Rosy': 744,
 'Quartier Mozart': 745,
 'Touki Bouki': 746,
 "God's Gift": 747,
 'Spirits of the Dead': 748,
 'Babyfever': 749,
 "Pharaoh's  Army": 750,
 'Trainspotting': 751,
 'Til There Was You': 752,
 'Independence Day': 753,
 'Stealing Beauty': 754,
 'The Fan': 5497,
 'The Hunchback of Notre Dame': 8279,
 'The Cable Guy': 757,
 'Kingpin': 758,
 'Eraser': 759,
 'The Gate of Heavenly Peace': 760,
 'The Nutty Professor': 2011,
 'I, the Worst of All': 762,
 'An Unforgettable Summer': 763,
 'A Hungarian Fairy Tale': 764,
 'My Life and Times With Antonin Artaud': 765,
 'Midnight Dancers': 766,
 'Somebody to Love': 767,
 'A Very Natural Thing': 768,
 'The Old Lady Who Walked in the Sea': 769,
 'Daylight': 18809,
 'The Frighteners': 771,
 'Lone Star': 772,
 'Harriet the Spy': 773,
 'Phenomenon': 774,
 'Walking and Talking': 775,
 "She's the One": 776,
 'A Time to Kill': 777,
 'American Buffalo': 778,
 'Rendezvous in Paris': 779,
 'Alaska': 780,
 'Fled': 781,
 'Kazaam': 782,
 'Magic Hunter': 783,
 'Larger Than Life': 784,
 'Power 98': 785,
 'Two Deaths': 786,
 'A Very Brady Sequel': 787,
 'Stefano Quantestorie': 788,

In [41]:
idx = id2movie['Toy Story']

sim_score = [(i, c) for i,c in enumerate(cosine_mat[idx]) if i!=idx]

sim_score.sort(key=lambda x: -x[1])
sim_score

[(15282, 0.5262275451171008),
 (2979, 0.463276799830381),
 (10271, 0.2797390476075632),
 (8303, 0.20078538664316947),
 (1058, 0.18287334034120212),
 (11367, 0.15712074193481165),
 (1916, 0.15288512626542436),
 (3039, 0.1433450408051554),
 (483, 0.13765225108436677),
 (11573, 0.1337032693869044),
 (17102, 0.13295331432571694),
 (7230, 0.12983035001929658),
 (5776, 0.12929631706930608),
 (13901, 0.12302625195001211),
 (1019, 0.12240041744158969),
 (3234, 0.12093232914459254),
 (2140, 0.12033896878817198),
 (7591, 0.11980660087121311),
 (6920, 0.11971451615255785),
 (19841, 0.11827862472374774),
 (4060, 0.11806334339583709),
 (5597, 0.11802371101967143),
 (446, 0.1167512242396802),
 (6411, 0.11107639488453105),
 (10555, 0.11107377610971747),
 (3127, 0.10739263187251914),
 (15107, 0.10419224757582679),
 (12038, 0.10409665944037358),
 (2617, 0.09723254963010583),
 (10345, 0.09496141102726871),
 (9934, 0.09413440149286126),
 (16910, 0.09122540024132597),
 (16614, 0.08749287927140632),
 (1868, 0.08735806419633758),
 (16512, 0.08462458226594151),
 (16420, 0.08309263103981074),
 (6948, 0.08004433285755934),
 (14374, 0.0799677281934972),
 (2887, 0.0799330149783439),
 (12206, 0.07981014078028831),
 (10323, 0.07800227689600008),
 (741, 0.07752412167327956),
 (2663, 0.07708931593978441),
 (18503, 0.07704559865535215),
 (15247, 0.07623283017434479),
 (10908, 0.07503130822034829),
 (12245, 0.07430069620126918),
 (19743, 0.07421903153496484),
 (7508, 0.07251467763025003),
 (19414, 0.07195366346456421),
 (7648, 0.07192597063514158),
 (5193, 0.07171020760140243),
 (11907, 0.06907955355536148),
 (1451, 0.0688597849753143),
 (13624, 0.06764560737403812),
 (7904, 0.06699300389874582),
 (2296, 0.06670134652902997),
 (10399, 0.06642072972018251),
 (589, 0.06551680982046004),
 (312, 0.06539324852029375),
 (8960, 0.06537996671920455),
 (14843, 0.06421861098245354),
 (179, 0.0640469887120823),
 (3568, 0.0639740867301063),
 (17952, 0.06380467827116872),
 (11156, 0.06288022589674669),
 (18102, 0.06202822973018986),
 (14147, 0.06168234963362789),
 (14148, 0.06138764199094314),
 (5784, 0.06129829703212531),
 (19857, 0.06104729158589617),
 (18966, 0.06080304540704641),
 (3738, 0.06010211464472851),
 (4673, 0.05955665188365567),
 (4736, 0.058991452973317905),
 (15370, 0.05882118936176273),
 (9209, 0.057491819815751764),
 (4746, 0.05652052158600442),
 (916, 0.05645017086401287),
 (6849, 0.05629052668358407),
 (2070, 0.055995076519646116),
 (11374, 0.0557736065138814),
 (2301, 0.055438114825826675),
 (1741, 0.05498905595305689),
 (4389, 0.05495572514043978),
 (10184, 0.05429608922720392),
 (9187, 0.05408770708263283),
 (4453, 0.053895586433178114),
 (4469, 0.05386832476215003),
 (5248, 0.05360572387500978),
 (13919, 0.05346768450497972),
 (17544, 0.05244744310284871),
 (9286, 0.05240478879883339),
 (8129, 0.0521595421712094),
 (8377, 0.051739925316977256),
 (9310, 0.051224180185911836),
 (10556, 0.050809982019991484),
 (9191, 0.050124733531345375),
 (15530, 0.04998832503917958),
 (9015, 0.04982629879819929),
 (3100, 0.04945079481163531),
 (9820, 0.04876586024911322),
 (7629, 0.04871574473882892),
 (3881, 0.048510585640898156),
 (1795, 0.04835307270731331),
 (7974, 0.04814335998179757),
 (1706, 0.047315904170865904),
 (14290, 0.04722213495651004),
 (14831, 0.04707563880662424),
 (7682, 0.046893750417120586),
 (9672, 0.046793319745758795),
 (15196, 0.04665032733853711),
 (15828, 0.045860266510098294),
 (2772, 0.04520831802598021),
 (19045, 0.045208067975051947),
 (368, 0.04513162325877724),
 (3125, 0.04499853128561869),
 (11635, 0.04497947534830333),
 (5219, 0.04483014913905433),
 (11929, 0.044768907916429845),
 (17561, 0.04464609295464345),
 (10982, 0.044544864179512006),
 (13753, 0.04439820385068958),
 (2879, 0.04426028337364765),
 (17204, 0.04417725546354799),
 (18638, 0.04411870234608862),
 (10867, 0.043700218414136856),
 (619, 0.043660292281272245),
 (19637, 0.04365628193841341),
 (13395, 0.043311367928342295),
 (18244, 0.04324538602941684),
 (8798, 0.04278900519041359),
 (14822, 0.042574739907749036),
 (15632, 0.0422864322658404),
 (14665, 0.04219867825640396),
 (814, 0.042056920068520534),
 (11120, 0.04200078837135959),
 (6236, 0.04193185926859501),
 (2268, 0.041651407730921595),
 (18463, 0.04144797117563823),
 (17, 0.041138683296865486),
 (2376, 0.04098153222791495),
 (15650, 0.040921768336348065),
 (16613, 0.04079266523590627),
 (6289, 0.04068787009567677),
 (11270, 0.04062488375958966),
 (17136, 0.04055554631465685),
 (588, 0.04053701842299949),
 (8086, 0.04041420404895292),
 (18237, 0.040273887849168306),
 (5936, 0.04005184559181098),
 (3497, 0.04004459675008552),
 (9339, 0.04001599774937265),
 (15355, 0.039941734651892206),
 (8190, 0.03984454612370184),
 (4154, 0.03978671894715391),
 (1866, 0.0397469995013693),
 (768, 0.039641933885252445),
 (16998, 0.03955955366679757),
 (14757, 0.039511317906016516),
 (3650, 0.039356892283402854),
 (16521, 0.03931243150083898),
 (4158, 0.039167873163513826),
 (18873, 0.03915164798003357),
 (12767, 0.03911482679907831),
 (13993, 0.039102266899292804),
 (19104, 0.03893200500874604),
 (12115, 0.03891183032602682),
 (6719, 0.03876283253248646),
 (14060, 0.03874753130930847),
 (12765, 0.03872659722969682),
 (8796, 0.03870285330001921),
 (16849, 0.03861470890337741),
 (9984, 0.0385748163577239),
 (490, 0.038574496800664104),
 (12082, 0.038572758742785374),
 (8275, 0.038555734626501026),
 (9563, 0.038461706310196866),
 (18191, 0.03838764555602993),
 (16902, 0.038314617440662585),
 (16621, 0.038260544709463204),
 (14140, 0.038253900466238375),
 (7145, 0.03823471182702972),
 (474, 0.03817369646359518),
 (2019, 0.03800671375292929),
 (15892, 0.03793499805107209),
 (8940, 0.037491887468476384),
 (11542, 0.037463733330560585),
 (16025, 0.037266927795747404),
 (3323, 0.0371730571871832),
 (425, 0.03706964173295644),
 (15183, 0.03706398492971374),
 (1261, 0.03704662092789893),
 (15067, 0.037035433687963075),
 (5214, 0.03701703235735687),
 (4114, 0.036982179803575585),
 (4533, 0.036933028995367795),
 (10208, 0.03677913821788613),
 (15925, 0.036721394505961666),
 (4809, 0.03667181064133454),
 (18689, 0.03665950483259542),
 (6302, 0.03663336002456842),
 (16578, 0.03660837122611863),
 (5596, 0.036608276252057),
 (15966, 0.03649448584939056),
 (3096, 0.036410641052533776),
 (617, 0.03627723851543911),
 (16696, 0.036210466065377825),
 (5845, 0.0361066474675346),
 (4973, 0.03603890312529669),
 (18157, 0.03579671643665899),
 (16780, 0.035769965481793155),
 (18792, 0.03573556092140264),
 (7013, 0.03564234628858464),
 (3327, 0.035597869805257185),
 (5384, 0.03558261334516975),
 (743, 0.03557187184148794),
 (8578, 0.03554885863262543),
 (6074, 0.03548346083213106),
 (15083, 0.03541909292714623),
 (6934, 0.035386161562887194),
 (2125, 0.035335886845315356),
 (17904, 0.03524679355212343),
 (3861, 0.035211245113821094),
 (17556, 0.03509522324957672),
 (8159, 0.035007680504566076),
 (2029, 0.0349054665166328),
 (17538, 0.034582473526679626),
 (301, 0.03451707102420088),
 (13685, 0.03447188691464565),
 (13147, 0.03443506532344252),
 (12747, 0.03442531340072624),
 (4283, 0.03433263281728986),
 (58, 0.03420184247473588),
 (11493, 0.034199202967421745),
 (19883, 0.03419822151659117),
 (16730, 0.034197179381427995),
 (4103, 0.034146845866396644),
 (8865, 0.03392838378418683),
 (7623, 0.0338679391417781),
 (17834, 0.03379589700807969),
 (7182, 0.033786646189217034),
 (17630, 0.0337784000791187),
 (13464, 0.03372023072041422),
 (16942, 0.033636521317262365),
 (15699, 0.033635276411867795),
 (439, 0.03358314634191782),
 (12786, 0.03353361541870931),
 (286, 0.033520086709167805),
 (14519, 0.033479995669525975),
 (4759, 0.03347952148572616),
 (12951, 0.033432346966873715),
 (16822, 0.0333994348092062),
 (13000, 0.03334222239217401),
 (15244, 0.03332524707729085),
 (2697, 0.03329312125489773),
 (3750, 0.0332474033889266),
 (16695, 0.03319672967124123),
 (14985, 0.033184460060968875),
 (2032, 0.03315217297731907),
 (10635, 0.033114100550092805),
 (10398, 0.03307484817880032),
 (5283, 0.03306126309571288),
 (19990, 0.03298072207302642),
 (14754, 0.03291359790046343),
 (18810, 0.032814540267243036),
 (16007, 0.03280037943900488),
 (19681, 0.0327965193641849),
 (15172, 0.03269169726060283),
 (11227, 0.03269012615228877),
 (8996, 0.03266896872843879),
 (16247, 0.03264064432512842),
 (7739, 0.03261211257439136),
 (8462, 0.03253519867605596),
 (13141, 0.03253168103339108),
 (9690, 0.03251881503641374),
 (6812, 0.03251828348658831),
 (7791, 0.03247660049510886),
 (12971, 0.03246833968624662),
 (17184, 0.03243682395989697),
 (14554, 0.0322215609817209),
 (11243, 0.03215818460455624),
 (13086, 0.032086451961251594),
 (19507, 0.032041730937499055),
 (8026, 0.032031893996322364),
 (19971, 0.03203165151370056),
 (16067, 0.031997373800197605),
 (7643, 0.03192448689225809),
 (8025, 0.0319038354819257),
 (737, 0.03185233117312612),
 (16468, 0.031817097328447966),
 (3927, 0.03176639697274137),
 (1057, 0.03174832482844174),
 (10665, 0.03174355008556512),
 (3376, 0.03170588791378715),
 (3337, 0.03167224160668714),
 (10263, 0.031486659884317245),
 (10626, 0.03131538733257031),
 (7017, 0.031285716964740626),
 (11420, 0.0312513065210569),
 (19505, 0.031216179257863685),
 (16896, 0.031178346744535165),
 (17642, 0.031163175773386526),
 (10325, 0.0311090867878261),
 (9640, 0.031102708214538824),
 (10205, 0.030998755870446884),
 (11315, 0.03087696356367859),
 (14136, 0.030832935490693984),
 (6954, 0.030818005767806866),
 (14728, 0.03076741550462299),
 (9105, 0.030763515755804514),
 (17044, 0.03072700940800259),
 (18455, 0.030604116310330557),
 (13912, 0.030572122190082675),
 (14789, 0.030562283084776754),
 (2592, 0.03055518801142869),
 (3965, 0.030524178227766784),
 (12783, 0.030521964437709406),
 (8576, 0.03042354493514536),
 (12048, 0.030396432090014677),
 (7852, 0.03031308899240488),
 (19210, 0.030289206877632945),
 (11624, 0.030246128175654016),
 (4402, 0.030235108450589535),
 (14846, 0.03021026315084084),
 (18681, 0.03019166757522095),
 (15996, 0.030162242621567057),
 (2144, 0.03013093613509),
 (7663, 0.030102769133954897),
 (6857, 0.03009233420439293),
 (11889, 0.03005609558628282),
 (1340, 0.030035031490956144),
 (16920, 0.029977468612101148),
 (5880, 0.02989792049347442),
 (9944, 0.02987276025695395),
 (13244, 0.029863793192431057),
 (12680, 0.029858667753586823),
 (17372, 0.029847576020942793),
 (16391, 0.02982654483582801),
 (3735, 0.029820850338110463),
 (7969, 0.029693554499397853),
 (9920, 0.029677757392833296),
 (19017, 0.029669432611543405),
 (2681, 0.029635279900616977),
 (5353, 0.02961688321545579),
 (5111, 0.029606079950169367),
 (16773, 0.0295908117862479),
 (13419, 0.029589983625173365),
 (3574, 0.02956566684697349),
 (5383, 0.0294579588992811),
 (19302, 0.029453428130544607),
 (12839, 0.029440790669292293),
 (19512, 0.0294323128426801),
 (15964, 0.029407925911077985),
 (6423, 0.02936102852944396),
 (6593, 0.029347628717239525),
 (2948, 0.029267955193439592),
 (1551, 0.029247361818392922),
 (5264, 0.029224442467250256),
 (10438, 0.02918799990297813),
 (9979, 0.029065859778899805),
 (16507, 0.029062978447563073),
 (5295, 0.02905930137743326),
 (11311, 0.02902900576617669),
 (1090, 0.02895251013126752),
 (4353, 0.028936058953260572),
 (18430, 0.028889814784640533),
 (19917, 0.028889131964180987),
 (6847, 0.028886882244925294),
 (1648, 0.028865084504993095),
 (725, 0.02882524340968705),
 (13161, 0.028775869153535336),
 (12081, 0.02877000588772323),
 (13936, 0.02875185439844452),
 (1885, 0.028745630965111693),
 (10007, 0.028740509318897864),
 (6457, 0.02873112922344766),
 (14494, 0.028674720588874124),
 (1134, 0.02862951721088977),
 (14708, 0.028605476523381038),
 (1892, 0.028577585176972124),
 (1569, 0.028571295658628253),
 (3028, 0.028544898891239415),
 (17557, 0.028544652120908516),
 (12113, 0.02854302504277103),
 (1576, 0.028540141504738034),
 (904, 0.02852404154788892),
 (15043, 0.02852322054924355),
 (8883, 0.02851566088878289),
 (1749, 0.028466680783074204),
 (12004, 0.028432433213861345),
 (1139, 0.028406549250767354),
 (4292, 0.028387489759652874),
 (17828, 0.02838523450726595),
 (3132, 0.02837002255839005),
 (4982, 0.028369548713149402),
 (17360, 0.028357175208111006),
 (19205, 0.02833253632823419),
 (1520, 0.028295111718006603),
 (2958, 0.028245141585634438),
 (5244, 0.028242606138214412),
 (9501, 0.028195067023129308),
 (448, 0.0281831764539603),
 (14980, 0.028153968228649302),
 (19206, 0.028142277203206823),
 (5563, 0.028121986915314617),
 (3265, 0.028114049041284703),
 (15615, 0.02810021657544657),
 (3038, 0.028072678062241042),
 (12973, 0.02807091236363732),
 (6729, 0.027973035999881136),
 (5888, 0.027947310279673915),
 (13081, 0.02793729632857304),
 (2886, 0.027922084931683196),
 (12523, 0.027916405270654986),
 (18349, 0.027894515916491017),
 (603, 0.027878191583831348),
 (9016, 0.027836550126239628),
 (6029, 0.027808500592123666),
 (2288, 0.02771700859344245),
 (6532, 0.02770730939328466),
 (7787, 0.027670334075267363),
 (11193, 0.02766664682996252),
 (18887, 0.027614402225926586),
 (18937, 0.027589275936551437),
 (16814, 0.027536912862797885),
 (3313, 0.027527999276113824),
 (751, 0.027515573205357902),
 (3713, 0.027405162179942138),
 (10462, 0.0273980688333572),
 (5154, 0.027380423196104803),
 (19657, 0.02736655593028515),
 (1177, 0.02734342676491044),
 (13700, 0.0273356044173261),
 (9446, 0.027304054490859025),
 (12196, 0.02726637813132536),
 (1891, 0.027226883410460978),
 (82, 0.027175388010740986),
 (4310, 0.027172536827054162),
 (15787, 0.02715623232298322),
 (1776, 0.027101792626267527),
 (18255, 0.02710131739961475),
 (4691, 0.027086192023690416),
 (19834, 0.027055135373209825),
 (7636, 0.027048512506705195),
 (16463, 0.027035856820280944),
 (15999, 0.02703433529278557),
 (15834, 0.027019922460707644),
 (15262, 0.027016047350652092),
 (12322, 0.026993121625106177),
 (2998, 0.02698937494579268),
 (14033, 0.02695247019377666),
 (9927, 0.026912544836878056),
 (15180, 0.02690296854773474),
 (7830, 0.026898094911655186),
 (12220, 0.026894970740093872),
 (4321, 0.02689378013518317),
 (2397, 0.026878467788403474),
 (12094, 0.02684517441319176),
 (19588, 0.026816935465867525),
 (11160, 0.026810276921123647),
 (11237, 0.026783290181329727),
 (19342, 0.026763057136510296),
 (5515, 0.02674204054899788),
 (225, 0.02672977771232602),
 (6652, 0.026700454404799692),
 (2498, 0.02670033147087646),
 (1428, 0.026674742741819912),
 (11735, 0.026517273969413335),
 (6356, 0.026511714605815744),
 (1221, 0.026510739314806648),
 (1908, 0.0265054313677498),
 (1245, 0.02646388284763071),
 (4437, 0.026449703881731908),
 (2845, 0.02644476243595858),
 (9508, 0.026414062875336732),
 (12194, 0.026330622806112102),
 (920, 0.026312373902822275),
 (1017, 0.026309283452355395),
 (3677, 0.026275153229516585),
 (11933, 0.026260374565999355),
 (18760, 0.02625983899972344),
 (12054, 0.026259051864497028),
 (13410, 0.026233739076603743),
 (10949, 0.02619847463209522),
 (6611, 0.026180934581156903),
 (1800, 0.026155200614614252),
 (3392, 0.026130836557462577),
 (16311, 0.02608878247079083),
 (14931, 0.0260375332824448),
 (8383, 0.026023856691834883),
 (3174, 0.025979690020072953),
 (3779, 0.025979485912818148),
 (4184, 0.025964293783675395),
 (12628, 0.02596273741520272),
 (19492, 0.025959739111424567),
 (14566, 0.025956673643086944),
 (576, 0.025937457722441274),
 (16437, 0.02590338443366571),
 (5118, 0.02590183266411751),
 (1083, 0.02587879723415788),
 (17702, 0.025871523689688078),
 (15286, 0.025866672145479462),
 (7844, 0.025849950036155055),
 (18355, 0.025835982846050702),
 (12061, 0.025824249690796976),
 (9567, 0.025812831480164784),
 (10722, 0.02576914249477891),
 (2573, 0.02576799801510101),
 (127, 0.025701565916602113),
 (13986, 0.025660270933901132),
 (11812, 0.025645138406542655),
 (1214, 0.02562987596224016),
 (11285, 0.025622797028927564),
 (13985, 0.02559406001837279),
 (5884, 0.025571165696194623),
 (18403, 0.025512239160097507),
 (12427, 0.025457675070968726),
 (14717, 0.025449262057808127),
 (12207, 0.02541938192241282),
 (5815, 0.025410560372183054),
 (12729, 0.02539049181261179),
 (19359, 0.025366959356115718),
 (15263, 0.025364833788865088),
 (13054, 0.02534222053577819),
 (3823, 0.025340631399766268),
 (12111, 0.025328977069380566),
 (9088, 0.02530560757398115),
 (7250, 0.025285212183976134),
 (14006, 0.025267848531257117),
 (55, 0.025263801435198463),
 (12882, 0.025257515886234167),
 (17517, 0.025236988180775462),
 (214, 0.02523106956608143),
 (7148, 0.025213894025914133),
 (4511, 0.025146994539980972),
 (17250, 0.025130526053139677),
 (13485, 0.025122665138133025),
 (9057, 0.02509983583803513),
 (256, 0.025094636786276967),
 (8974, 0.02509207349098053),
 (10238, 0.02507710148233012),
 (7196, 0.02507158124869259),
 (18607, 0.02504502880968281),
 (3106, 0.024991819670386276),
 (9126, 0.024986102554768595),
 (5341, 0.024983921977069543),
 (4949, 0.024972170867401805),
 (15296, 0.02496946024658518),
 (19064, 0.024966420360607446),
 (17440, 0.02496309474279022),
 (8106, 0.024958894310857474),
 (4118, 0.024954200366360636),
 (7364, 0.02492419079116163),
 (2531, 0.024916636731410466),
 (13268, 0.024908366854823914),
 (1352, 0.024874005859105017),
 (7483, 0.02480502634999246),
 (3603, 0.02479305255387751),
 (11852, 0.024791834207612592),
 (15795, 0.024786357528691183),
 (14776, 0.024771631700100553),
 (7417, 0.02476754632177063),
 (2286, 0.02474478072076878),
 (2270, 0.024700507783427077),
 (18755, 0.024661198224354718),
 (15840, 0.02463067471902769),
 (3109, 0.024624723559785042),
 (3774, 0.02461159854948234),
 (226, 0.024609549516932082),
 (14877, 0.024593471412163666),
 (1812, 0.02457381281598368),
 (19861, 0.024567720272091847),
 (3498, 0.024565145922649977),
 (10200, 0.02456174961919758),
 (15255, 0.02450743430214573),
 (15967, 0.024506815484153854),
 (16430, 0.024471956306985253),
 (1254, 0.02446276860542601),
 (12114, 0.024460505611617372),
 (13115, 0.02445993826653135),
 (5183, 0.024455072363830568),
 (4119, 0.024454331216835608),
 (11505, 0.0244205778982429),
 (12386, 0.024408857496514384),
 (19916, 0.024387891599099463),
 (17550, 0.024385442558107383),
 (14228, 0.024356474382964153),
 (8690, 0.024353228130976012),
 (18143, 0.024351883618220965),
 (4942, 0.024347186114388797),
 (13052, 0.024337359146723088),
 (15677, 0.024334662393545165),
 (7253, 0.02432311903694541),
 (6792, 0.02430438478604707),
 (14853, 0.024302525155940283),
 (7140, 0.02426941211240614),
 (1137, 0.024248711138306418),
 (19062, 0.024235163246156453),
 (16022, 0.024205491086339976),
 (5325, 0.02418702441812853),
 (12449, 0.024180653947808942),
 (14255, 0.024178379375346528),
 (14593, 0.024176547413889613),
 (355, 0.024168685039992775),
 (11035, 0.024155591735142343),
 (15320, 0.024141686483052795),
 (16367, 0.024139098249436705),
 (12970, 0.024122613892703912),
 (16073, 0.02411395633498449),
 (8961, 0.02411129790268584),
 (18804, 0.02410810730255035),
 (4971, 0.024104876897965952),
 (12838, 0.02407525263447407),
 (16470, 0.024069771691291885),
 (638, 0.02405563260229292),
 (13011, 0.02399015948819389),
 (6892, 0.02398433889547143),
 (5137, 0.023973005726984936),
 (3324, 0.023968921105392126),
 (19966, 0.023953167073997677),
 (16119, 0.023930265325934376),
 (2327, 0.023921454690190934),
 (16151, 0.023912393140271743),
 (13496, 0.02382733450297766),
 (14671, 0.023826866671464605),
 (17951, 0.0238207657079522),
 (14201, 0.02381787635620075),
 (983, 0.02378140884346691),
 (2727, 0.02374645151695779),
 (1530, 0.02374601403136893),
 (11559, 0.023724366708435602),
 (9284, 0.02371770718350294),
 (13055, 0.02368221331384289),
 (9465, 0.02367330848284162),
 (1681, 0.023646290336242486),
 (13073, 0.023642040746123787),
 (9519, 0.02364002556113483),
 (16527, 0.023631669323782297),
 (8990, 0.023629911303291323),
 (4592, 0.023628507129287338),
 (16324, 0.023622258799238852),
 (16291, 0.023616307928581236),
 (2219, 0.023603422914854174),
 (10033, 0.023566958302692502),
 (19482, 0.023560470258922068),
 (15504, 0.02355636111055317),
 (4430, 0.02351775261381681),

In [43]:
recom_list = [(movie2Id[i], c) for i,c in sim_score[:10]]
recom_list

[('Toy Story 3', 0.5262275451171008),
 ('Toy Story 2', 0.463276799830381),
 ('The 40 Year Old Virgin', 0.2797390476075632),
 ('The Champ', 0.20078538664316947),
 ('Rebel Without a Cause', 0.18287334034120212),
 ('For Your Consideration', 0.15712074193481165),
 ('Condorman', 0.15288512626542436),
 ('Man on the Moon', 0.1433450408051554),
 ('Malice', 0.13765225108436677),
 ('Factory Girl', 0.1337032693869044)]

# Word2Vec

In [45]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import gensim
import warnings
warnings.filterwarnings(action='ignore')

In [49]:
path = 'C:/Users/jaehyun/Documents/jupyter/data/'
movie = pd.read_csv(path+'ratings_small.csv')
movie.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [50]:
movie = movie.sort_values(by='timestamp', ascending=True).reset_index(drop=True)
movie.head()

   userId  movieId  rating  timestamp
0     383       21     3.0  789652009
1     383       47     5.0  789652009
2     383     1079     3.0  789652009
3     409       21     5.0  828212412
4     409       25     4.0  828212412

In [57]:
meta = pd.read_csv(path + 'movies_metadata.csv', low_memory=False)
meta.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [52]:
meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [62]:
# meta에서 영화 제목 가져오기

meta = meta.rename(columns={'id' : 'movieId'})

movie['movieId'] = movie['movieId'].astype(str)
meta['movieId'] = meta['movieId'].astype(str)

movie = pd.merge(movie, meta[['movieId', 'original_title']], how='left', on='movieId')

In [63]:
movie

        userId movieId  rating   timestamp      original_title
0          383      21     3.0   789652009  The Endless Summer
1          383      47     5.0   789652009                 NaN
2          383    1079     3.0   789652009                 NaN
3          409      21     5.0   828212412  The Endless Summer
4          409      25     4.0   828212412             Jarhead
...        ...     ...     ...         ...                 ...
100004     251   56587     5.0  1476623131                 NaN
100005     251  134853     5.0  1476623217                 NaN
100006     251   81847     4.5  1476623282     The Dawn Patrol
100007     251    6377     4.5  1476623300                 NaN
100008     251    1704     4.5  1476640644                 NaN

[100009 rows x 5 columns]

In [66]:
movie = movie[movie['original_title'].notnull()].reset_index(drop=True)
movie.head()

   userId movieId  rating  timestamp      original_title
0     383      21     3.0  789652009  The Endless Summer
1     409      21     5.0  828212412  The Endless Summer
2     409      25     4.0  828212412             Jarhead
3     409      30     5.0  828212412              彼女の想いで
4     409      35     4.0  828212412  The Simpsons Movie

In [67]:
agg = movie.groupby(['userId'])['original_title'].agg({'unique'})
agg

                                                   unique
userId
1       [Jay and Silent Bob Strike Back, Vivement dima...
2       [Terminator 3: Rise of the Machines, The Conve...
3       [300, The Killing, Shortbus, Finding Neverland...
4       [David, The Wedding Planner, Casablanca, Sleep...
5       [Gleaming the Cube, Cool Hand Luke, Hidalgo, U...
...                                                   ...
667     [The Hours, Terminator 3: Rise of the Machines...
668     [The Believer, The Talented Mr. Ripley, Local ...
669     [El otro lado de la cama, The 39 Steps, To Cat...
670     [American Pie 2, The Million Dollar Hotel, 48 ...
671     [Reign Over Me, The Good Shepherd, Jacob's Lad...

[671 rows x 1 columns]

In [68]:
# int형식은 Word2vec에서 학습이 안되어서 String으로 변경

sentence = []
for user_sentence in agg['unique'].values:
    sentence.append(list(map(str, user_sentence)))

In [72]:
from gensim.models import Word2Vec

embedding_model = Word2Vec(sentences=sentence, vector_size=20, window=5, min_count=1, workers=4, epochs=50, sg=1)

In [73]:
embedding_model.wv.most_similar(positive=['Spider-Man 2'], topn=10)

[('Snow Cake', 0.8053117394447327),
 ('Domicile Conjugal', 0.801173210144043),
 ('Krull', 0.784264087677002),
 ("L'Aile ou la Cuisse", 0.7815294861793518),
 ('Death Machine', 0.7598900198936462),
 ('National Treasure', 0.7515761256217957),
 ('Harry Potter and the Prisoner of Azkaban', 0.7466822862625122),
 ('Blow', 0.7371529936790466),
 ('Mr. Brooks', 0.7367714047431946),
 ('To Die For', 0.7270051836967468)]